.projects-header {
  width: 75%;
  text-align: left;
  font-size: 1.5rem;
}
.projects-slider {
  width: 80%;
  justify-content: center;
}
.projects-slider img {
  width: 1530px;
  height: 700px;
  justify-content: center;
  border-radius: 8px;
}
