.not-found-container {
  margin-top: 10%;
  padding: 10px 20px;
  align-items: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
.not-found-container img {
  height: 300px;
  width: 300px;
}
@media (max-width: 900px) {
  .not-found-container {
    flex-direction: column;
    margin-top: 30%;
    padding: 10px 20px;
  }
}
