.toggle-container {
  display: flex;
  width: 80%;
  justify-content: left;
  gap: 8px;
}
.toggle-container img {
  width: 24px;
  height: 24px;
}
.toggle-container button {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  background: none;
  border: none;
  color: var(--txt-color);
  cursor: pointer;
}
.inactive-image {
  rotate: -90deg;
}
.active-image {
  rotate: 0deg;
}
.active {
  width: 80%;
  display: flex;
  justify-content: left;
}
.inactive {
  display: none;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 2s linear infinite;
}
.no-spin {
  animation: none;
}
