.contact-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.contact-container h2 {
  margin-bottom: 15px;
  text-align: left;
}
.contact-container ul {
  list-style: none;
  font-size: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.contact-container ul li {
  display: flex;
  align-items: center;
}
.contact-container ul img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
@media (max-width: 900px) {
  .contact-container ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .contact-container ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
