.discord-webhook {
  display: flex;
  justify-content: center;
  gap: 20px;
}

input {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
  font-size: 16px;
  color: var(--txt-color);
  background: linear-gradient(45deg, var(--bg1-color), var(--bg2-color) 100%);
}
button {
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
  background-color: var(--bg1-color);
  color: var(--txt-color);
  cursor: pointer;
}
button:active {
  border: 1px solid var(--txt-color);
}
@media (max-width: 900px) {
  .discord-webhook {
    flex-direction: column;
    gap: 8px;
    padding: 12px 14px;
    align-items: center;
  }
}
.test-container {
  position: fixed; /* Makes it an overlay */
  top: 10%; /* Centers it vertically */
  left: 10%; /* Centers it horizontally */
  width: 80%; /* 80% of the viewport width */
  height: 80%; /* 80% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centers content inside */
  background-color: rgba(41, 41, 41, 0.8); /* Semi-transparent red background */
  z-index: 100; /* Ensures it appears above other elements */
  border-radius: 50px; /* Optional: Adds rounded corners */
}
.close-container-button {
  position: fixed;
  top: 12%;
  right: 12%;
}
