.discord-webhook {
  display: flex;
  justify-content: center;
  gap: 20px;
}

input {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
  font-size: 16px;
  color: var(--txt-color);
  background: linear-gradient(45deg, var(--bg1-color), var(--bg2-color) 100%);
}
button {
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
  background-color: var(--bg1-color);
  color: var(--txt-color);
  cursor: pointer;
}
button:active {
  border: 1px solid var(--txt-color);
}
@media (max-width: 900px) {
  .discord-webhook {
    flex-direction: column;
    gap: 8px;
    padding: 12px 14px;
    align-items: center;
  }
}
.contactform-container {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(41, 41, 41, 0.8);
  z-index: 100;
  border-radius: 50px;
  border: 1px solid var(--accent-color);
}
.close-container-button {
  position: fixed;
  top: 12%;
  right: 12%;
}
