.education-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: left;
  margin: 0 auto;
}
.education-container h2 {
  font-size: 2.5rem;
  color: var(--accent-color);
}
.education-container p {
  font-size: 20px;
}
