.experience-container {
  text-align: left;
  width: 80%;
}
.experience-container h2 {
  font-size: 2.5rem;
}
.experience-container h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.experience-container h4 {
  font-style: italic;
}
.experience-container h4 span {
  font-style: normal;
}
.cv-button {
  margin: 10px 20px;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--bg-color2);
  color: #fff;
  border: none;
  border-radius: 10px;
}
