header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid var(--accent-color);
}

ul.nav-links {
  display: flex;
  gap: 10px;
  justify-content: end;
  list-style: none;
}

ul.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  transition: ease-in-out 0.3s;
}
ul.nav-links li a:hover {
  background-color: var(--accent-color);
  padding: 5px 10px;
}
@media (max-width: 600px) {
  header.header {
    flex-direction: column;
    align-items: flex-start;
  }
  ul.nav-links {
    flex-direction: column;
    width: 100%;
  }
  ul.nav-links li {
    width: 100%;
    text-align: left;
  }
}
