.projects-header {
  width: 80%;
  text-align: left;
  font-size: 1.5rem;
}
.projects-slider {
  width: 80%;
  justify-content: center;
}
.projects-slider img {
  width: 1530px;
  height: 700px;
  justify-content: center;
  border-radius: 8px;
}
.info-container {
  width: 75%;
}
.info-container h3 {
  font-size: 30px;
}
.info-container p {
  font-size: 20px;
}
