@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Share+Tech&display=swap");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
