@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --main-bg-color: #141414;
  --bg-color2: #ff00ff;
  --txt-color: #ffffff;
  --txt-color2: #3c3c3c;
  --accent-color: #f404e8;
}

body {
  margin: 0;
  font-family: "Archivo", monospace, helvetica, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--txt-color);
}
.intro-container {
  display: flex;
}
.intro {
  width: 80%;
  text-align: left;
  font-size: 3em;
}
.intro span {
  color: var(--accent-color);
}
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-container h2 {
  text-align: left;
  color: var(--accent-color);
}
.divider {
  width: 80%;
  height: 2px;
  background-color: var(--bg-color2);
  margin: 20px 0;
}
footer.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: var(--main-bg-color);
  color: var(--txt-color2);
}
