.megis-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.megis-container img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}
